/* for the main page */
h1 {
  font-family: sans-serif;
  color: yellow;
  font-size: 80px;
  text-align: center;
}

body {
  background-color: hotpink;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: salmon;
  grid
  grid-template-columns: repeat(autofit)
}

.left {
  padding: 10px;
}

.right {
padding: 10px 30px 10px 30px;

}

/* for the language pages */
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 10px;

}

.card {
  background-color: salmon;
  border: 10px solid orange;
  border-radius: 20px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
